body { 
    background: #FFF;
    background: #CCC;
    color: #000;
    line-height: 1;
    font-family: sans-serif }
table {
    margin: 2em 0;
    border-collapse: collapse;
    empty-cells: show;
    border-spacing: 0;
    width: 100%}
th, td {
    padding: 0.5%;
    width: 13%}
td {
    min-height: 5em;
    height: 5em;
    background: #FFF;
    border: thin solid}
td.skip { 
    background: white;
    background: #CCC}
th { 
    text-align: left;
    background: #369;
    color: #FFF}
tr {
    vertical-align: baseline}
caption { 
    color: #369;
    text-align: left;
    font-size: xx-large;
    font-weight: bold}
p.date {
    color: #DDD;
    font-size: 4em;
    margin-bottom: -1em;
    font-weight: bold;
    text-align: right}
pre {
    display: none;
    font-family: sans-serif;
    text-indent: 0;
    background: #FF9;
    color: #000; 
    /*overflow: auto;*/
    white-space: pre;
    margin: 0;
    padding: 0.5em;
    border: thin solid}
div.vevent:hover pre {
    display: block;
    position: absolute}
.location {
    display: block}
p {
    margin: 0;
    padding: 0 }
span.notime { display: none }
span.time { font-weight: bold }

div.vevent {
    margin: 0.3em 0;
    padding-left: 0.6em;
    text-indent: -0.6em}

div.vevent {color: #666}		/* Default */
p.Birthday {color: #C66}
p.Birthday.Personal {color: #C93}
p.Dinner {color: #090}
p.Holiday {color: #393}
p.Meeting {color: #990}
p.Meeting.Phone-Call {color: #339}
p.Miscellaneous {color: #960}
p.Personal {color: #C60}
p.Phone-Call {color: #909}
p.Travel {color: #069}

span.categories {display: none}
